@font-face{
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}
@font-face{
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nb";
}

html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width:100%;
    background-color: #dadada;
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    z-index:99;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
#cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    /* background-color:rgb(0,0,0); */
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    padding: 3vw 3vw;
}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1{
    font-family: rejoy;
    font-size: 27vw;
    font-weight: 100;
}
#page1-content h1 span{
 font-family: rejoy;
}



#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 5vw 2.8vw;
}
#page2-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #00000092;
}
#page2-top h3{
    font-size: 1.7vw;
    font-weight: 500;
    width: 26%;
}
#page2-top h4{
    font-size: 1.7vw;
    font-weight: 500;
}
.elem{
    overflow: hidden;
}
.elem h1{
    font-size: 4.2vw;
    font-weight: 500;
}
#page3{
    min-width: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;

}
#page3-top{
   
    text-align: center;
}
#page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;

}
#page3-top h4 span{
    font-size: 0.7vw;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}
#page3-top h2{
    font-size: 4vw;
    font-weight: 500;

}
#page3-elements{
    height: 74vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6vw;
    justify-content: space-between;
    /* background-color: red;
     */
}
#page3-elements .box{
    height: 100%;
    width: 32.5%;
    background-color: blue;
    position: relative;
}
#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.7s;

}
#page3-elements .box:hover img{
    opacity: 0;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    color:white;
    background-color: black;
    align-items: center;
   
    
}
#page4 video{
    margin-left: 32%;
    
    
}
#page4 svg{
position: absolute;
height: 32%;
}